*{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
   

}
@font-face {
    font-family: 'Athelas';
    src: url('./fonts/Athelas-Regular.ttf') format('ttf');
         
}